# Candidate Test 2022 Analysis Part 1

This exercise focuses on the candidate tests from two television networks: DR and TV2. Data from both tests have been given on a scale of five responses (-2, -1, 0, 1, 2).

---

There are 6 datasets included in this exercise:

- `alldata.xlsx`: Contains responses from both TV stations.
- `drdata.xlsx`: Contains responses from DR.
- `drq.xlsx`: Contains questions from DR.
- `tv2data.xlsx`: Contains responses from TV2.
- `tv2q.xlsx`: Contains questions from TV2.
- `electeddata.xlsx`: Contains responses from both TV stations for candidates who were elected to the parliament. Note that 9 members are missing; 7 of them didn't take any of the tests. Additionally, some notable figures like Mette F. and Lars Løkke did not participate in any of the tests.

---

It's entirely up to you how you approach this data, but at a *minimum*, your analysis should include:
- Age of the candidates grouped by parties.
- An overview of the most "confident" candidates, i.e., those with the highest proportion of "strongly agree" or "strongly disagree" responses.
- Differences in responses between candidates, both inter-party and intra-party, along with an explanation of which parties have the most internal disagreements.
- Classification models to predict candidates' party affiliations. Investigate if there are any candidates who seem to be in the "wrong" party based on their political landscape positions. You must use the following three algorithms: **Decision Tree, Random Forrest, and Gradient Boosted Tree**, and **two other** classification algorithms of your choice, i.e. a total of 5 models are to be trained.

---

The following parties are represented:

| Party letter | Party name | Party name (English) | Political position |
| :-: | :-: | :-: | :-: |
| A | Socialdemokratiet | Social Democrats | Centre-left |
| V | Venstre | Danish Liberal Party | Centre-right |
| M | Moderaterne | Moderates | Centre-right |
| F | Socialistisk Folkeparti | Socialist People's Party | Left-wing |
| D | Danmarksdemokraterne | Denmark Democrats | Right-wing |
| I | Liberal Alliance | Liberal Alliance | Right-wing |
| C | Konservative | Conservative People's Party | Right-wing |
| Æ | Enhedslisten | Red-Green Alliance | Far-left |
| B | Radikale Venstre | Social Liberal Party | Centre-left |
| D | Nye Borgerlige | New Right | Far-right |
| Z | Alternativet | The Alternative | Centre-left |
| O | Dansk Folkeparti | Danish People's Party | Far-right |
| G | Frie Grønne | Free Greens | Centre-left |
| K | Kristendemokraterne | Christian Democrats | Centre-right |

Below you can see the results and the colors chosen to represent the parties. Use these colors in your analysis above.

![Alt text](image-1.png)


Others have undertaken similar analyses. You can draw inspiration from the following (use Google tranlsate if your Danish is rusty):

- [Analysis of where individual candidates stand relative to each other and their parties](https://v2022.dumdata.dk/)
- [Candidate Test 2022 – A deep dive into the data](https://kwedel.github.io/kandidattest2022/)
- [The Political Landscape 2019](https://kwedel.github.io/kandidattest2019/)

In [23]:
import pandas as pd

all_data = pd.read_excel('alldata.xlsx')
dr_data = pd.read_excel('drdata.xlsx')
drq = pd.read_excel('drq.xlsx')
tv2_data = pd.read_excel('tv2data.xlsx')
tv2q = pd.read_excel('tv2q.xlsx')

print(all_data)

print(dr_data)

print(drq)

print(tv2_data)

print(tv2q)

     530  531  533  534  535  537  538  540  541  543  ...  9a  9b  10a  10b  \
0     -1   -2    1   -2    2    1   -2    1    1    2  ...   2   0    1   -2
1      2    2   -1   -2   -1   -2    1   -2    2   -2  ...  -2   0   -1    2
2      2    1   -2   -2    1   -2    1   -1    1   -1  ...  -1  -2    0    2
3      2    1   -2   -1    1    1    1    1    1   -2  ...  -2   2    2    2
4      1    1   -2    2   -2    1   -2    1    2   -2  ...  -2   0   -1    0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..  ..  ...  ...
862    1    1    1   -2    2   -1    1   -2    1    1  ...   1   2   -1    2
863    1   -2   -2   -2    1   -2   -1   -2   -2   -2  ...  -1   0   -1    2
864    1    1    1   -2    2   -1    1   -1   -1    1  ...  -1   0   -1    2
865    1   -1    1   -2    1   -1   -1   -1   -1    1  ...   0   0    0    2
866    1    1   -1   -2    1   -1    1   -1    1   -1  ...  -2  -1   -1    2

     11a  11b  12a  12b                    storkreds  alder
0     -2    1    1    1         Københavns Storkreds     78
1      1   -2    0    0               Fyns Storkreds     64
2      0   -1    1   -2          Bornholms Storkreds     37
3      2   -1    2    0       Nordjyllands Storkreds     28
4     -2    0    2   -2         Københavns Storkreds     58
..   ...  ...  ...  ...                          ...    ...
862    1   -2    0    0  Københavns Omegns Storkreds     33
863    2   -2    0    0  Københavns Omegns Storkreds     45
864    2   -2    0    1  Københavns Omegns Storkreds     52
865    1   -2    1    0  Københavns Omegns Storkreds     44
866    2   -2    1    0  Københavns Omegns Storkreds     50

[867 rows x 53 columns]
     530  531  533  534  535  537  538  540  541  543  ...  552  553  555  \
0     -1   -2    1   -2    2    1   -2    1    1    2  ...    2   -2    2
1      2    2   -1   -2   -1   -2    1   -2    2   -2  ...    1    1   -1
2      2    1   -2   -2    1   -2    1   -1    1   -1  ...    2   -1   -2
3      2    1   -2   -1    1    1    1    1    1   -2  ...    2    1    2
4      1    1   -2    2   -2    1   -2    1    2   -2  ...    2   -2   -2
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
899    1    1    1   -2    2   -1    1   -2    1    1  ...   -1    1    1
900    1   -2   -2   -2    1   -2   -1   -2   -2   -2  ...    2    1   -1
901    1    1    1   -2    2   -1    1   -1   -1    1  ...    1    2    2
902    1   -1    1   -2    1   -1   -1   -1   -1    1  ...    1   -1    1
903    1    1   -1   -2    1   -1    1   -1    1   -1  ...    1    1   -1

     556  557  559  561  563                      navn  \
0      2    1    2    2   -2      Lars Philipsen Prahm
1     -2    1    2    1    2             Karsten Hønge
2     -1    1    2    2    2  Martin Kelleher-Petersen
3     -2    2    2    2    2    Nicklas Gjedsig Larsen
4     -1    1   -2   -1   -2            Tom Gillesberg
..   ...  ...  ...  ...  ...                       ...
899   -2    2    0    2    1               Maria Gudme
900   -2    2    2   -1    1             Maria Durhuus
901   -2    1    1    1    1            Morten Bødskov
902   -2    1    1    1    1               Jeppe Bruus
903   -2    1    2    2    1             Gunvor Wibroe

                       parti
0                Moderaterne
1    Socialistisk Folkeparti
2               Alternativet
3               Alternativet
4                  Løsgænger
..                       ...
899        Socialdemokratiet
900        Socialdemokratiet
901        Socialdemokratiet
902        Socialdemokratiet
903        Socialdemokratiet

[904 rows x 27 columns]
     ID                     Title  \
0   530           KLIMA OG ENERGI
1   531  ARBEJDSMARKED OG ØKONOMI
2   533              RET OG STRAF
3   534            EU OG UDENRIGS
4   535            EU OG UDENRIGS
5   537                   VELFÆRD
6   538                UDDANNELSE
7   540                   VELFÆRD
8   541  ARBEJDSMARKED OG ØKONOMI
9   543                   VELFÆRD
10  544                 DEMOKRATI
11  545  ARBEJDSMARKED OG ØKONOMI
12  546           KLIMA OG ENERGI
13  547                 DEMOKRATI
14  548                   VELFÆRD
15  550  ARBEJDSMARKED OG ØKONOMI
16  551            EU OG UDENRIGS
17  552                   SUNDHED
18  553                UDDANNELSE
19  555            EU OG UDENRIGS
20  556  ARBEJDSMARKED OG ØKONOMI
21  557                   VELFÆRD
22  559           KLIMA OG ENERGI
23  561           KLIMA OG ENERGI
24  563                   SUNDHED

                                             Question  Info  \
0   Danmark skal bruge flere penge på at styrke to...   NaN
1   Der skal indføres en særlig skat på de allerhø...   NaN
2   Kriminalitet begået i udsatte boligområder ska...   NaN
3                På sigt skal Danmark meldes ud af EU   NaN
4   Det er fornuftigt, at Danmark i de kommende år...   NaN
5   Det er okay, at den økonomiske ulighed stiger,...   NaN
6   Forældres indkomst skal være et af kriterierne...   NaN
7   Det skal være muligt at tjene penge på at driv...   NaN
8   Der skal indføres skat på fortjenesten ved sal...   NaN
9   Det er en god idé, at dagpengesatsen for nyudd...   NaN
10  Transkønnede under 18 år skal have mulighed fo...   NaN
11  Pensionsalderen skal fortsætte med at stige i ...   NaN
12  Danmark skal undersøge muligheden for at udvik...   NaN
13         Der bør dannes en regering hen over midten   NaN
14  Der skal afsættes penge til at hjælpe kontanth...   NaN
15  Der skal indføres kvoter, der sikrer mindst 30...   NaN
16  Der skal være permanent grænsekontrol mellem D...   NaN
17  Man skal automatisk blive organdonor, når man ...   NaN
18  Der skal udflyttes flere uddannelsespladser fr...   NaN
19  Asylansøgere bør sendes til et land uden for E...   NaN
20           Den såkaldte Arne-pension skal afskaffes   NaN
21  Lønnen til ansatte i klassiske velfærdsfag som...   NaN
22        Danmark bør indføre CO2-afgift på flyrejser   NaN
23  Det er en god idé med naturnationalparker, hvo...   NaN
24  Unge op til 24 år skal have ret til gratis off...   NaN

                                          ArgumentFor  \
0   Den kollektive trafik bør være billig og tilgæ...
1   Historisk rammer kriser de fattigste hårdest. ...
2   Den mest effektive måde at stoppe bandekrimina...
3   Så længe Danmark er medlem af EU, kan flertall...
4   Ruslands angreb på Ukraine har ændret alting o...
5   Økonomisk ulighed afspejler belønningen den en...
6   Det er vigtigt at vores gymnasier består af un...
7   Der er brug for en bred vifte af forskellige d...
8   Det er kun rimeligt, at man betaler skat af st...
9   De fleste nyuddannede er yngre mennesker uden ...
10  Det skal være op til det enkelte menneske i sa...
11  Det er afgørende for dansk økonomi, at pension...
12  Atomkraft er en klimavenlig og stabil kilde ti...
13  En regering hen over midten kan lettere sikre ...
14  Kontanthjælpsmodtagere er en af de befolknings...
15  Virksomhederne bør afspejle samfundet. Både No...
16  Det er vigtigt, at der er styr på, hvem der ko...
17  Der er stor mangel på organer til transplantat...
18  Levende studiemiljøer kan sikre, at unge blive...
19  Det nuværende asylsystem gavner kun menneskesm...
20  Arne-pensionen er dyr og ikke målrettet de mes...
21  Offentligt ansatte som sygeplejersker og pædag...
22  Flyrejser er en af de mest CO2-belastende rejs...
23  Natur og biodiversitet er i krise både i Danma...
24  Mange unge mistrives, og de skal have mulighed...

                                      ArgumentAgainst  WordMerger  \
0   Det er dyrt for statskassen at opretholde drif...           0
1   Det danske samfund er et af de mest lige samfu...           0
2   Det er urimeligt, at den samme forbrydelse ska...           0
3   Danmark er bedst tjent med at være en del af E...           0
4   Vi er medlemmer af Nato og har i forvejen et s...           0
5   Større økonomisk ulighed vil skævvride samfund...           0
6   De unge risikerer at miste pladsen på deres næ...           0
7   Skattekroner tiltænkt velfærd skal ikke kunne ...           0
8   Det er mere sikkert for alle, at boligejere be...           0
9   Som nyuddannet er man ofte ved at etablere sig...           0
10  Unge skal have ro til at danne deres egen iden...           0
11  Pensionsalderen kan ikke vokse i det uendelige...           0
12  Atomkraft indebærer risiko for radioaktive uds...           0
13  En regering hen over midten risikerer at overh...           0
14  Hvis der uddeles hjælpechecks til flere og fle...           0
15  Virksomhederne går efter de bedst kvalificered...           0
16  Grænsekontrollen koster milliarder, skaber kød...           0
17  Ens indre organer er ikke fælleseje, og anvend...           0
18  Der er i forvejen ledige pladser i mange byer,...           0
19  Danmark bør selv tage ansvar for de asylansøge...           0
20  Det er kun retfærdigt, at danskere med flest a...           0
21  Hvis lønnen til offentligt ansatte stiger, er ...           0
22  En skat på flybilletten vil ramme danskerne me...           0
23  Det er bekymrende for dyrevelfærden, fordi Fol...           0
24  Gratis psykologhjælp uden henvisning risikerer...           0

    ID_CandidateQuestionType Rule  QuestionListData
0                          1   FT               NaN
1                          1   FT               NaN
2                          1   FT               NaN
3                          1   FT               NaN
4                          1   FT               NaN
5                          1   FT               NaN
6                          1   FT               NaN
7                          1   FT               NaN
8                          1   FT               NaN
9                          1   FT               NaN
10                         1   FT               NaN
11                         1   FT               NaN
12                         1   FT               NaN
13                         1   FT               NaN
14                         1   FT               NaN
15                         1   FT               NaN
16                         1   FT               NaN
17                         1   FT               NaN
18                         1   FT               NaN
19                         1   FT               NaN
20                         1   FT               NaN
21                         1   FT               NaN
22                         1   FT               NaN
23                         1   FT               NaN
24                         1   FT               NaN
     1a  1b  2a  2b  3a  3b  4a  4b  5a  5b  ...  10a  10b  11a  11b  12a  \
0     0   1   1   1   1  -1   0   1   0   0  ...    0    2   -1    2    0
1    -1   1   0  -1   2  -2  -1  -1  -2   1  ...    1   -1   -1    2    1
2    -2   0   0   1   1  -1   0   1  -1   1  ...    1    1   -2    2    1
3    -2  -1   2   2   2  -2   0  -1  -2   1  ...    1   -1   -2    2    2
4    -2  -1   1   1   2  -2   1   0  -1   1  ...    2    1   -1    2    0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...
957   2   2   2   2  -2   2   2  -2  -2   1  ...   -1    2   -2    2    0
958   2   2   2   2  -2   2   2   2  -2  -1  ...   -2    2   -2    2   -2
959   2   2   2   2  -2   2   2   1  -2   0  ...    1    2   -1    2    1
960   1   2   2   1  -2   1   2   0  -1   0  ...    2    1   -2    2    1
961   2   2  -1   2   1   0   2  -2  -1  -1  ...    0    0    2   -2    1

     12b                                        parti                   navn  \
0      0                                      Venstre   Birthe Tindbæk Bredo
1     -1                                      Venstre     Julie Pauch Nymark
2      1                                      Venstre      Peter Juel-Jensen
3     -2                             Dansk Folkeparti      Mette Sode Hansen
4      1                             Dansk Folkeparti        René Danielsson
..   ...                                          ...                    ...
957    0  Frie Grønne, Danmarks Nye Venstrefløjsparti         Karina Dammand
958   -2  Frie Grønne, Danmarks Nye Venstrefløjsparti      Mohamed Abdikarim
959    1  Frie Grønne, Danmarks Nye Venstrefløjsparti          Niko Grünfeld
960    0  Frie Grønne, Danmarks Nye Venstrefløjsparti  Sara Hvidbak Grouleff
961   -2                                    Løsgænger      Chresten H. Ibsen

                 storkreds  alder
0      Bornholms Storkreds     63
1      Bornholms Storkreds     27
2      Bornholms Storkreds     56
3      Bornholms Storkreds     42
4      Bornholms Storkreds     35
..                     ...    ...
957  Østjyllands Storkreds     42
958  Østjyllands Storkreds     33
959  Østjyllands Storkreds     47
960  Østjyllands Storkreds     33
961  Østjyllands Storkreds     46

[962 rows x 28 columns]
            id  type               header  \
0   bornholm-1  rate  Bornholms Storkreds
1   bornholm-2  rate  Bornholms Storkreds
2   bornholm-3  rate  Bornholms Storkreds
3   bornholm-4  rate  Bornholms Storkreds
4   bornholm-5  rate  Bornholms Storkreds
..         ...   ...                  ...
69         10b  rate        Socialområdet
70         11a  rate           Mink-sagen
71         11b  rate           Mink-sagen
72         12a  rate          Coronavirus
73         12b  rate          Coronavirus

                                             question  \
0   Med særligt attraktive vilkår bør staten sikre...
1   Staten bør sørge for, at flytrafikken til og f...
2   Der skal sættes flere penge af til Forsvarets ...
3   Det skal være lettere at hente udenlandsk arbe...
4   Beslutningen om at etablere en naturnationalpa...
..                                                ...
69  Den såkaldte Arne-pension, der giver mulighed ...
70  Der har været alt for meget fokus på Mette Fre...
71  Det bør undersøges, om Mette Frederiksen kan s...
72  Hvis coronasmitten stiger markant til vinter, ...
73  Hvis coronasmitten stiger markant til vinter, ...

                                    depends
0   {'selectedArea': 'bornholms storkreds'}
1   {'selectedArea': 'bornholms storkreds'}
2   {'selectedArea': 'bornholms storkreds'}
3   {'selectedArea': 'bornholms storkreds'}
4   {'selectedArea': 'bornholms storkreds'}
..                                      ...
69                                      NaN
70                                      NaN
71                                      NaN
72                                      NaN
73                                      NaN

[74 rows x 5 columns]

In [26]:
# Loading the entire Excel file
df = pd.read_excel('alldata.xlsx')

# Drop the columns by name (e.g., exclude 'Column1' and 'Column3')
df_filtered = df.drop(columns=['parti', 'storkreds', 'alder'])

# Print the resulting DataFrame
print(df_filtered)

     530  531  533  534  535  537  538  540  541  543  ...  8a  8b  9a  9b  \
0     -1   -2    1   -2    2    1   -2    1    1    2  ...   1   0   2   0
1      2    2   -1   -2   -1   -2    1   -2    2   -2  ...   0   0  -2   0
2      2    1   -2   -2    1   -2    1   -1    1   -1  ...   1   1  -1  -2
3      2    1   -2   -1    1    1    1    1    1   -2  ...   2   2  -2   2
4      1    1   -2    2   -2    1   -2    1    2   -2  ...   1   0  -2   0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..  ..  ..  ..
862    1    1    1   -2    2   -1    1   -2    1    1  ...   2   1   1   2
863    1   -2   -2   -2    1   -2   -1   -2   -2   -2  ...   1   0  -1   0
864    1    1    1   -2    2   -1    1   -1   -1    1  ...   1   0  -1   0
865    1   -1    1   -2    1   -1   -1   -1   -1    1  ...   0   0   0   0
866    1    1   -1   -2    1   -1    1   -1    1   -1  ...   1   1  -2  -1

     10a  10b  11a  11b  12a  12b
0      1   -2   -2    1    1    1
1     -1    2    1   -2    0    0
2      0    2    0   -1    1   -2
3      2    2    2   -1    2    0
4     -1    0   -2    0    2   -2
..   ...  ...  ...  ...  ...  ...
862   -1    2    1   -2    0    0
863   -1    2    2   -2    0    0
864   -1    2    2   -2    0    1
865    0    2    1   -2    1    0
866   -1    2    2   -2    1    0

[867 rows x 50 columns]

In [2]:
import pandas as pd

# Loading the Excel file into a DataFrame
df = pd.read_excel('alldata.xlsx')

# Defining a function to count 2's and -2's in each row ("strongly agree" and "strongly disagree" answers)
def count_values(row):
    count_2 = (row == 2).sum()  # Count occurrences of 2
    count_neg_2 = (row == -2).sum()  # Count occurrences of -2
    return pd.Series({'Count_2': count_2, 'Count_-2': count_neg_2})

# Applying the function row-wise, excluding the irrelevant, non-numerical columns
df_counts = df.drop(columns=['navn', 'parti', 'storkreds', 'alder']).apply(count_values, axis=1)

# Concatenating the counts with the 'navn' column
df_final = pd.concat([df['navn'], df_counts], axis=1)

# Grouping by 'navn' if there are multiple rows with the same name
df_grouped = df_final.groupby('navn').sum().reset_index()

# Creating a new column 'Total_Count' that sums 'Count_2' and 'Count_-2'
df_grouped['Total_Count'] = df_grouped['Count_2'] + df_grouped['Count_-2']

# Sorting the DataFrame by 'Total_Count' in descending order
df_sorted = df_grouped.sort_values(by='Total_Count', ascending=False)

# Printing the first 50 rows of the sorted DataFrame
print(df_sorted.head(50))

                               navn  Count_2  Count_-2  Total_Count
801                   Søren Vanting       18        31           49
735                    Sarah Nørris       24        25           49
397             Kim Andkjær Doberck       22        22           44
596               Mohamed Abdikarim       21        22           43
689                      Rashid Ali       23        20           43
337                      John Bjerg       18        24           42
298                     Jan Filbært       19        23           42
482             Lone Vase Langballe       23        19           42
213                  Frank Sørensen       25        17           42
189                Elise Bjerkrheim       23        19           42
752                     Simon Hampe       21        20           41
687               Qasam Nazir Ahmad       21        20           41
55                     Asham Nadeem       20        21           41
399                Kim Christiansen       23        18           41
817                  Thomas Vedsted       17        24           41
772                Steffen Sjørslev       15        25           40
863                 Yadvinder Singh       21        19           40
166                  Daniel Tomicic       20        20           40
255  Henning Østergaard-Christensen       22        18           40
247           Helene Hellesøe Appel       23        17           40
308                    Jef Seistrup       24        16           40
303                 Janne Toft-Lind       21        19           40
571                  Michael Jensen       23        16           39
101            Camilla Dalum Jensen       22        17           39
475                 Lisbeth Torfing       21        18           39
441                    Lars Kolling       21        18           39
209            Finn Hartvig Nielsen       18        21           39
613                 Nick Zimmermann       22        17           39
659             Per Møller Jacobsen       22        17           39
370                Karlo Brondbjerg       20        18           38
631                   Niko Grünfeld       21        17           38
785                  Susanne Zimmer       20        18           38
523              Marianne Mathiesen       19        19           38
783               Susanne Flydtkjær       16        22           38
642                   Nishan Ganesh       21        17           38
747          Signe Vedersø Keldorff       20        18           38
583              Mikael Lund Jensen       18        20           38
274                   Ibrahim Benli       21        17           38
729        Sabrina Raaschou Brammer       22        16           38
705       Rasmus Vestergaard Madsen       16        22           38
151                     Clara Turms       18        20           38
728     Sabrina Louise Christiansen       21        17           38
653                 Peder Hvelplund       18        20           38
699                Rasmus Nordqvist       22        16           38
700                  Rasmus Paludan       20        18           38
688                   Rajesh Holmen       19        19           38
855              Victoria Bøgh Salo       20        18           38
348                   Jonathan Ries       24        13           37
444            Lars Oskan-Henriksen       21        16           37
439                   Lars Holstein       21        16           37